@import "styles/firstBlock.css";
@import "styles/secondBlock.css";
@import "styles/thirdBlock.css";
@import "styles/fouthBlock.css";
@import "styles/fifthBlock.css";

* {
    margin: unset;
}

a:link {
    text-decoration: none;
    color: unset;
}

a:visited {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: none;
    color: unset;
}

a:active {
    text-decoration: none;
    color: unset;
}