.fourth-block {
    margin: 120px 14vw 170px;
    height: 648px;
}

.fourth-block-content {
    display: flex;
}

.fourth-block-images {
    width: 700px;
    position: relative;
}

.fourth-block-images img:nth-child(1) {
    position: absolute;
    right: 0;
}

.fourth-block-images img:nth-child(2) {
    position: absolute;
    right: 400px;
    top: 350px;
    filter: drop-shadow(0px 3px 18px rgba(165, 165, 165, 0.25));
}

.fourth-block-info {
    width: 585px;
    margin-left: 86px;
}

.fourth-block-title {
    font-family: 'Lato', system-ui;
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}

.fourth-block-header {
    font-family: 'Georgia', system-ui;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin-top: 10px;
}

.fourth-block-text {
    font-family: 'Lato', system-ui;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-top: 20px;
}

.fourth-block-info button {
    padding: 20px 50px;
    width: 240px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

@media screen and (max-width: 1800px) {
    .fourth-block {
        height: auto;
        display: flex;
        margin: 100px 5vw 100px;
    }

    .fourth-block-content {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .fourth-block-images {
        display: flex;
        align-self: center;
        height: 700px;
        position: relative;
    }

    .fourth-block-info {
        width: auto;
        margin-left: 65px;
        display: flex;
        flex-direction: column;
    }

    .fourth-block-info button {
        align-self: center;
        width: 630px;
    }
}
