.third-block {
    margin-top: 50px;
    background: #245852;
    display: flex;
}

.third-block-content {
    display: flex;
    justify-content: space-between;
    padding: 230px 0 175px;
    margin-right: auto;
    margin-left: auto;
}

.third-block-info {
    margin-top: 80px;
    width: 580px;
    color: #FFFFFF;
}

.third-block-header {
    font-family: 'Georgia', system-ui;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
}

.third-block button {
    width: 240px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Lato', system-ui;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 57px;
}

.third-block-text {
    font-family: 'Lato', system-ui;
    font-weight: 400;
    font-size: 25px;
    margin-top: 33px;
}

.third-block-video {
    width: 895px;
    position: relative;
    margin-left: 30px;
}

.third-block-video img:nth-child(1) {
    filter: brightness(0.8);
}

.third-block-video img:nth-child(2) {
    position: absolute;
    left: 46%;
    top: 42%;
}

@media screen and (max-width: 1800px) {
    .third-block-content {
        flex-direction: column;
        padding: 100px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .third-block-info {
        margin-top: 0;
    }

    .third-block-video {
        margin-left: 0;
        margin-top: 50px;
        width: 600px;
        align-self: center;
    }

    .third-block-video img:nth-child(1) {
        width: 580px;
    }

    .third-block-video img:nth-child(2) {
        left: 42%;
        top: 38%;
    }

    .third-block button {
        width: 100%;
    }
}